
@{
    ViewBag.Title = "Consulta";
}


<h3 class="font">Data Display: </h3>

<div id="Divtabla" class="container d-flex mt-5 mb-5 fonttable">
    

</div>

<script src="~/Scripts/Consulta.js"></script>