
@{
    ViewBag.Title = "test";
}

<h2>test</h2>

<div class="row" style="background-color:beige;">

    <div style="background-color: #07e4dd; padding: 30px; border:outset; border-color:darkgrey; box-shadow:5px 5px;"
         class="col-6">
        <div class="input-group-prepend">

            <span class="input-group-text">Upload File</span>

        </div>

        <div class="custom-file">

            <input type="file" class="custom-file-input"
                   id="inputGroupFile01">

            <label class="custom-file-label" for="inputGroupFile01">
                Choose
                file
            </label>

        </div>
    </div>

    <div style="background-color: crimson;padding: 30px;"
         class="col-6"><textarea rows="5"></textarea></div>



</div>

